echo "# cpp_dsa_questions" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/harshoo1/cpp_dsa_questions.git
git push -u origin main



git remote add origin https://github.com/harshoo1/cpp_dsa_questions.git
git branch -M main
git push -u origin main